<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/wwwApp/style.css"/>
    <meta charset="UTF-8">
    <title>Zarządzanie załogami</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        var selected_flight = undefined, selected_crew = undefined, date;

        function add_relation() {
            selected_flight.removeAttribute("style");
            selected_crew.removeAttribute("style");
            document.getElementById("add_relation").setAttribute("disabled", "");
            $.ajax({
                type: 'GET',
                url: '/add_relation_service/',
                dataType: 'json',
                data: {
                    crew_id: selected_crew.getAttribute("id"),
                    flight_id: selected_flight.getAttribute("id")
                },
                success: function (data) {
                    alert = document.getElementById("alert");
                    alert.setAttribute("class","alert " + data.alert_class);
                    alert.appendChild(document.createTextNode(data.alert));
                    fetchFlights();
                    $("#alert").fadeTo(2000, 500).slideUp(500, function() {
                        $("#alert").slideUp(500);
                        alert.removeChild(alert.lastChild);
                    });
                }
            });
            selected_flight = undefined;
            selected_crew = undefined;

        }
        function check_if_relation_is_selected() {
            if (selected_flight != undefined && selected_crew != undefined) {
                document.getElementById("add_relation").removeAttribute("disabled");
            }
        }

        function select_flight(node) {
            if (selected_flight != undefined) {
                selected_flight.removeAttribute("style");
            }
            selected_flight = node;
            node.style.backgroundColor = "darkgrey";
            check_if_relation_is_selected();
        }

        function select_crew(node) {
            if (selected_crew != undefined) {
                selected_crew.removeAttribute("style");
            }
            selected_crew = node;
            node.style.backgroundColor = "darkgrey";
            check_if_relation_is_selected();
        }

        function fetchFlights() {
            $.ajax({
                type: 'GET',
                url: '/flights_service/',
                dataType: 'json',
                data: {
                    date: date
                },
                success: function (data) {
                    var flight_table_body = document.getElementById("flight_table_body");
                    flight_table_body.innerHTML = '';
                    $.each(data, function (index, element) {
                        var node = jQuery.parseHTML(
                            "<tr class=\"clickable-row\" onclick=\"select_flight(this)\">" +
                            "<td></td>" +
                            "<td></td>" +
                            "<td></td>" +
                            "<td></td>" +
                            "<td></td>" +
                            "</tr>"
                        );
                        var properties = ["starting_airport_name", "starting_time_formatted", "destination_airport_name",
                            "destination_time_formatted", "crew_name"];
                        for (var i = 0; i < properties.length; i++) {
                            node[0].childNodes[i].appendChild(document.createTextNode(element[properties[i]]));
                        }
                        node[0].setAttribute("id", element.id);
                        flight_table_body.appendChild(node[0]);
                    });
                }
            });
        }

        $.ajax({
            type: 'GET',
            url: '/crews_service/',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (index, element) {
                    var node = jQuery.parseHTML(
                        "<tr class=\"clickable-row\" onclick=\"select_crew(this)\">" +
                        "<td></td>" +
                        "</tr>"
                    );
                    var captain = document.createTextNode(element.captain_name + " " + element.captain_surname);
                    node[0].firstChild.appendChild(captain);
                    node[0].setAttribute("id", element.id);
                    document.getElementById("crew_table_body").appendChild(node[0]);
                });
            }
        });
    </script>
</head>
<body>
<header>

    <div class="container">
        <h1>Przeloty samolotów pasażerskich
            <small>Zarządzanie załogami</small>
        </h1>
    </div>

</header>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <p>Date: <input type="text" id="datepicker"/></p>
            <script>
                $(function () {
                    $("#datepicker").datepicker({
                        onSelect: function (dateText) {
                            date = dateText
                            fetchFlights()
                        },
                        dateFormat: "yy-mm-dd"
                    });
                });
            </script>
        </div>
        <div class="col-sm-3">
            <button id = "add_relation"type="button" class="btn btn-default" onclick="add_relation()" disabled>Przypisz załogę</button>
        </div>
        <div class="col-sm-3">
            <a href="/home">Wstecz</a>
        </div>
    </div>
    <div class="alert" id="alert">
    </div>
    <script>
        $("#alert").hide();
    </script>
    <div class="row">
        <p>Aby przypisać załogę do lotu, wybierz lot oraz załogę a następnie kliknij <mark>Przypisz załogę</mark></p>
        <div class="col-sm-10 panel scrollable_table">
            <div class="table-container">
                <table class="table table-hover table-condensed table-responsive">


                    <thead>
                    <tr>
                        <th>Lotnisko startowe</th>
                        <th>Czas Odlotu</th>
                        <th>Lotnisko docelowe</th>
                        <th>Czas Dotarcia</th>
                        <th>Załoga</th>
                    </tr>
                    </thead>
                    <tbody id="flight_table_body">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-2 panel scrollable_table">
            <div class="table-container">

                <table class="table table-hover table-condensed table-responsive">


                    <thead>
                    <tr>
                        <th>Kapitan</th>
                    </tr>
                    </thead>
                    <tbody id="crew_table_body">
                    <tr class="clickable-row">
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>