<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/wwwApp/style.css"/>
    <meta charset="UTF-8">
    <title>Zarządzanie załogami</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<header>

    <div class="container">
        <h1>Przeloty samolotów pasażerskich
            <small>Zarządzanie załogami</small>
        </h1>
    </div>

</header>

<div class="container">
    <div class="row">
        <div class="col-sm-3 bordered">Tu bedzie kalendarz do wybrania dnia</div>
        <div class="col-sm-3 bordered">
            Tu bedzie przycisk "Przypisz zaloge"
        </div>
        <div class="col-sm-3 bordered">
            Tu bedzie wstecz
        </div>
    </div>
    <div class="row">
        <p>Aby przypisać załogę do lotu, wybierz lot oraz załogę a następnie kliknij <mark>Przypisz załogę</mark></p>
        <div class="col-sm-8 bordered panel">
            <div class="table-container">
                <table class="table table-hover table-condensed table-responsive">


                    <thead>
                    <tr>
                        <th>Lotnisko startowe</th>
                        <th>Czas Odlotu</th>
                        <th>Lotnisko docelowe</th>
                        <th>Czas Dotarcia</th>
                        <th>Załoga</th>
                    </tr>
                    </thead>
                    <tbody id="flight_table_body">
                    <tr class="clickable-row">

                        <td>Akron Fulton International Airport</td>

                        <td>wto, 01 maj 2018 06:36:00</td>

                        <td>Ted Stevens Anchorage International Airport</td>

                        <td>wto, 01 maj 2018 08:54:00</td>

                        <td>—</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-4 bordered panel">
            <div class="table-container">

                <table class="table table-hover table-condensed table-responsive">


                    <thead>
                    <tr>
                        <th>Kapitan</th>
                    </tr>
                    </thead>
                    <tbody id="crew_table_body">
                    <tr class="clickable-row">

                        <td>Teo Lewandowski</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $.ajax({
    type: 'GET',
    url: '/crews_service/',
    dataType: 'json',
    success: function (data) {
        $.each(data, function(index, element) {
            var node = jQuery.parseHTML(
                "<tr class=\"clickable-row\">" +
                    "<td></td>" +
                "</tr>"
            );
            var captain = document.createTextNode(element.captain_name + " " + element.captain_surname);
            node[0].firstChild.appendChild(captain);
            document.getElementById("crew_table_body").appendChild(node[0])
        });
    }
});
</script>
</body>
</html>