{% extends 'wwwApp/base.html' %}

{% block header %}
    <div class="container">
        <h1>Przeloty samolotów pasażerskich
            <small>Strona główna</small>
        </h1>
    </div>
{% endblock %}

{% block contents %}

    {% include 'wwwApp/login.html' %}
    {% if user == "AnonymousUser" %}
            <h4>Zaloguj się, żeby móc zarządzać załogami</h4>
    {% else %}
        <a href="/air_crew">Zarządzanie załogami</a>
    {% endif %}
    {% include 'wwwApp/flights.html' %}

{% endblock %}
